In [11]:
import pandas as pd

# Specify the path to your JSON file
file_path = 'MEMD_ABSA_Dataset/Books/'

# Read the JSON file into a Pandas DataFrame
df = pd.read_json(file_path + 'Dev.json')
df1 = pd.read_json(file_path + 'Test.json')
df2 = pd.read_json(file_path + 'Train.json')

merged_df = pd.concat([df, df1,df2], axis=0, ignore_index=True)
print(len(merged_df))
print(len(df2))

2967
2092

In [12]:
df_exploded = df.explode('quadruples')
display(df_exploded['quadruples'][3])

3    {'aspect': {'from': 1, 'to': 2, 'term': ['book...
3    {'aspect': {'from': 14, 'to': 16, 'term': ['ne...
Name: quadruples, dtype: object

In [13]:
import pandas as pd
import json

def extract_attributes(quadruples):
    aspects = []
    opinions = []
    sentiments = []

    for quad in quadruples:
        aspect = quad.get('aspect', {}).get('term', None)
        opinion = quad.get('opinion', {}).get('term', None)
        sentiment = quad.get('sentiment', {})


        aspects.append(aspect)
        opinions.append(opinion)
        opinions.append(opinion)
        sentiments.append(sentiment)
        
    return aspects, opinions, sentiments

# Apply the function to each row of the DataFrame
merged_df[['aspect', 'opinion', 'sentiment']] = merged_df['quadruples'].apply(lambda x: pd.Series(extract_attributes(x)))
# df1[['aspect', 'opinion']] = df1['quadruples'].apply(lambda x: pd.Series(extract_attributes(x)))
# df2[['aspect', 'opinion']] = df2['quadruples'].apply(lambda x: pd.Series(extract_attributes(x)))

# Now you have 'aspects' and 'opinions' columns containing lists of aspect and opinion terms for each row
# Assuming df is your DataFrame
# df.rename(columns={'raw_words': 'sentence'}, inplace=True)
merged_df = merged_df.rename(columns={'raw_words': 'sentence'})
# df1 = df1.rename(columns={'raw_words': 'sentence'})
# df2 = df2.rename(columns={'raw_words': 'sentence'})
subset_df = merged_df.loc[0:, ['sentence', 'aspect', 'opinion','sentiment']]
display(subset_df)

,sentence,aspect,opinion,sentiment
0,"Unfortunately , it was n't up to par with her ...",[[NULL]],"[[Unfortunately], [Unfortunately]]",[NEG]
1,Not only was the whole plane crash into a very...,[[NULL]],"[[bad], [bad]]",[NEG]
2,A very good read from the author who saw it al...,[[read]],"[[very, good], [very, good]]",[POS]
3,"This book was worth the wait , and I will keep...","[[book], [next, novel]]","[[worth], [worth], [NULL], [NULL]]","[POS, POS]"
4,An excellent page turner .,"[[page, turner]]","[[excellent], [excellent]]",[POS]
...,...,...,...,...
2962,Excellent and in-depth of the exquisitely comp...,"[[NULL], [NULL]]","[[Excellent], [Excellent], [in-depth], [in-dep...","[POS, POS]"
2963,Add to it a lot of local color of modern urban...,[[NULL]],"[[good], [good]]",[POS]
2964,"It is also a story of paternalism , arrogance ...",[[story]],"[[NULL], [NULL]]",[NEG]
2965,Another great story with a twist .,[[story]],"[[great], [great]]",[POS]
2966,"Writing was very stilted , boring and unsophis...","[[Writing], [Writing], [Writing]]","[[unsophisticated], [unsophisticated], [very, ...","[NEG, NEG, NEG]"

In [14]:
import pandas as pd

# Assuming df contains your DataFrame

# Create an empty list to store DataFrames for each row
def expand_sentences(datasets):
    new_datasets = []

    # Iterate through each row of the original DataFrame
    for index, row in df.iterrows():
        sentence = row['sentence']
        aspects = row['aspect']
        opinions = row['opinion']
        sentiments = row['sentiment']
        
        # Create a DataFrame for the current row's aspect-opinion pairs
        row_df = pd.DataFrame({'sentence': [sentence] * len(aspects),
                               'aspect': aspects,
                               'opinion': opinions,
                              'sentiment' : sentiments})
        
        # Append the DataFrame to the list
        new_datasets.append(row_df)

    return new_datasets

dfs = []

# Iterate through each row of the original DataFrame
for index, row in merged_df.iterrows():
    sentence = row['sentence']
    aspects = row['aspect']
    opinions = row['opinion']
    sentiments = row['sentiment']
    
    # Create a DataFrame for the current row's aspect-opinion pairs
    row_df = pd.DataFrame({'sentence': [sentence] * len(aspects),
                           'aspect': aspects,
                           'opinion': opinions,
                          'sentiment' : sentiments})
    
    # Append the DataFrame to the list
    dfs.append(row_df)

# Concatenate all DataFrames in the list to create the expanded DataFrame

expanded_df = pd.concat(dfs, ignore_index=True)

expanded_df = expanded_df.loc[0:, ['sentence', 'aspect', 'opinion', 'sentiment']]
display(expanded_df)

ValueError: All arrays must be of the same length

In [5]:
import pandas as pd

# Assuming df contains your DataFrame

# Create an empty list to store DataFrames for each row
dfs1 = []

# Iterate through each row of the original DataFrame
for index, row in df1.iterrows():
    raw_words1 = row['raw_words']
    aspects1 = row['aspect']
    opinions1 = row['opinion']

    
    # Create a DataFrame for the current row's aspect-opinion pairs
    row_df1 = pd.DataFrame({'raw_words': [raw_words1] * len(aspects1),
                           'aspect': aspects1,
                           'opinion': opinions1})
    
    # Append the DataFrame to the list
    dfs1.append(row_df1)

# Concatenate all DataFrames in the list to create the expanded DataFrame
expanded_df1 = pd.concat(dfs1, ignore_index=True)

# Print the expanded DataFrame
display(expanded_df1)

In [6]:
import pandas as pd

# Assuming df contains your DataFrame

# Create an empty list to store DataFrames for each row
dfs2 = []

# Iterate through each row of the original DataFrame
for index, row in df2.iterrows():
    raw_words2 = row['raw_words']
    aspects2 = row['aspect']
    opinions2 = row['opinion']
    
    # Create a DataFrame for the current row's aspect-opinion pairs
    row_df2 = pd.DataFrame({'raw_words': [raw_words2] * len(aspects2),
                           'aspect': aspects2,
                           'opinion': opinions2})
    
    # Append the DataFrame to the list
    dfs2.append(row_df2)

# Concatenate all DataFrames in the list to create the expanded DataFrame
expanded_df2 = pd.concat(dfs2, ignore_index=True)

# Print the expanded DataFrame
display(expanded_df2)

In [9]:
def remove_Bracket(dataset):
    dataset['aspect'] = dataset['aspect'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')
    dataset['opinion'] = dataset['opinion'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')


# Remove square brackets from 'aspect' and 'opinion' columns
expanded_df['aspect'] = expanded_df['aspect'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')
expanded_df['opinion'] = expanded_df['opinion'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')

expanded_df1['aspect'] = expanded_df1['aspect'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')
expanded_df1['opinion'] = expanded_df1['opinion'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')

expanded_df2['aspect'] = expanded_df2['aspect'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')
expanded_df2['opinion'] = expanded_df2['opinion'].apply(lambda x: ' '.join(map(str, x))).str.strip('[]')

# Print the DataFrame with square brackets removed

expanded_df = expanded_df.loc[0:, ['sentence', 'aspect', 'opinion']]
display(expanded_df)
display(expanded_df2)

,sentence,aspect,opinion
2,FINALLY got around to trying this place since ...,place,well worth it
3,"The hostess looked at us confused , because ou...",hostess,NULL
4,"Finally we order , and then wait , and wait , ...",NULL,NULL
5,They brought us out some complimentary hummus ...,complimentary hummus,NULL
6,I love their baked beans - they 're rich and f...,baked beans,rich
...,...,...,...
800,Definitely not worth it and will likely never ...,place,Definitely not worth
801,"After initial orders for beverages , our waitr...",waitress,NULL
802,We had a pretty big table and everyone seemed ...,food,love
803,We had a pretty big table and everyone seemed ...,table,pretty big
804,"I ordered a side of dipper fries as well , but...",dipper fries,gross

In [8]:
# expanded_df.to_csv('dev.csv', index=False)
# expanded_df1.to_csv('test.csv', index=False)
# expanded_df2.to_csv('train.csv', index=False)

merged_df = pd.concat(expanded_df,expanded_df1,expanded_df2], axis=0, ignore_index=True)
merged_df.to_csv('Books.csv', index=False)

In [10]:
# df1 = pd.read_csv('dev.csv')
# df2 = pd.read_csv('test.csv')
# df3 = pd.read_csv('train.csv')


# merged_df = pd.concat([expanded_df, expanded_df1,expanded_df2], axis=0, ignore_index=True)
# print(len(merged_df))
# merged_df.to_csv('memd_laptop.csv', index=False)

NameError: name 'expanded_df1' is not defined